/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

/* CSS variables */
/* :root{
    --navbar-height: 59px;
} */

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}

#logo {
    margin: -10px 5px;

}

#logo img {
    height: 60px;
    margin: 18px 45px;


}


#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    /* background-color: rgb(255, 189, 9); */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.50; */
}

#navbar ul li {
    /* color: brown; */
    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a {
    color: white;
    display: block;
    padding: 0px 30px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: aliceblue;
}
#Home{
    display: flex;
    
    flex-direction: column;
    padding: 3px 200px;
    height: 520px;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#Home::before{
    content: "";
    background: url(bg\ food.jpg );
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.50; */
}


#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px;
    border-radius: 23px;
    background-color: rgb(236, 228, 218);

}
#services .box img{
    height: 300px;
    margin: auto;
    display: block;

}
.h-primary{
    font-size: 3.8rem;
    color: aliceblue;
    padding: 12px;
}
.h-secondary{
    font-size: 1.8rem;
    color: black;
    /* color: black; */
    padding: 12px;
}
#Home p{
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
}   
.btn{
    padding: 6px 20px;
    margin: 17px;
    border: 2px solid white;
    background-color: rosybrown ;
    color: white;
    font-size: 1.5rem;
    border-radius: 25px;
    cursor: pointer;

   
}
.btn:hover{
    background-color: brown;
}

.center{
    text-align: center;
}
#client-section{
    height: 244px;
    
}
#client-section::before{
    content: "";
    position: absolute;
    background-color:whitesmoke;
    width: 100%;
    height: 150px;
    z-index: -1;
    /* opacity: 0.4; */
    
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#our{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    /* border: 2px solid black; */
    /* display: inline-block; */
}
#clients img{
    height: 90px;
}
.client-item{
    padding: 24px;
}
#contacthone{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    color: brown;
}
#contact{
    position: relative;
    /* border: 2px solid black;
    border-radius: 60px; */
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color:papayawhip;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;

}
  